.footer-content
{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #111827;
    color: #9CA3AF;
}
.footer-content h3
{
    color: white;
    margin-bottom: 10px;
}
.footer-content ul
{
    list-style: none;
    line-height: 1.5;
}
.footer-content ul li:hover
{
    cursor: pointer;
    color: white;
    /* transition-duration: 200ms; */
}
.footer-logo
{
    display: flex;
    height: 1px;
    align-items: center;
    gap:14px;
}
.social-icons ul 
{
  display: flex;
  gap: 12px;
}
.social-icons ul li:hover
{
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-logo {
    justify-content: center;
  }

  .social-icons ul {
    justify-content: center;
  }

  .footer-content ul {
    padding: 0;
  }
}
