*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.job-login h1
{
    padding: 10px;
}
.job-login-content
{
    /* margin: 100px; */
    margin-top: 50px;
    line-height: 2;
    padding-left: 100px;
    width: 50%;
}
.job-login-content input
{
    display: block;
    /* border: none; */
    outline: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.job-login-btn button
{
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: rgb(38, 173, 245);
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 7px;
}
.job-login-btn
{
    display: flex;
    justify-content: center;
    width: 70%;
}
.job-login-content span
{
    color:steelblue;
    cursor: pointer;
}
.job-login-content span:active
{
    color:blue;
}
.job-login-or
{
    display: flex;
    justify-content: center;
    width: 70%;
    color: gray;

}
.job-google-login
{
    width: 70%;
}
.job-google-login button
{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color:white;
    border: 1px solid black;
    border-radius: 7px;
}
.job-google-login button:hover
{
    background-color:black;
    color: white;
    cursor: pointer;
}