.job-navcomp-options
{
    background-color:rgb(255, 165, 0);
    text-align: center;
    padding: 20px;
    line-height: 2;
    width: 100%;
    border-radius: 10px;
}
.job-navcomp-options ul li
{
    list-style: none;
    color:black;
}
.job-navcomp-options ul li:hover
{
    cursor: pointer;
    color: white;
}
@media screen and (max-width:1050px) {
    .job-navcomp-options
    {
        min-width: 100%;
        padding: 0%;
    }
}
@media screen and (min-width:1052px) {
    .job-navcomp-options
    {
        display: none;

    }
    
}